<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
<style>
body{font-family:Arial;background:#1e3c72;color:white;text-align:center}
form{margin:20px}
input,select,button{padding:10px;margin:5px}
</style>
</head>
<body>

<h1>Admin Panel 🚍</h1>

<form method="POST">
<input name="route_name" placeholder="Route Name">
<button>Add Route</button>
</form>

<form method="POST">
<input name="bus_number" placeholder="Bus Number">
<select name="route_id">
{% for r in routes %}
<option value="{{r[0]}}">{{r[1]}}</option>
{% endfor %}
</select>
<button>Add Bus</button>
</form>

<form method="POST">
<input name="student_name" placeholder="Student Name">
<input name="register_number" placeholder="Reg No">
<input name="password" placeholder="Password">
<select name="bus_id">
{% for b in buses %}
<option value="{{b[0]}}">{{b[1]}}</option>
{% endfor %}
</select>
<button>Add Student</button>
</form>

<form method="POST">
<input name="driver_name" placeholder="Driver Name">
<input name="password" placeholder="Password">
<select name="bus_id">
{% for b in buses %}
<option value="{{b[0]}}">{{b[1]}}</option>
{% endfor %}
</select>
<button>Add Driver</button>
</form>

</body>
</html>
