<!DOCTYPE html>
<html>
<head>

<title>Bus Live Location</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<style>

body{
margin:0;
font-family:Arial;
}

#map{
height:100vh;
width:100%;
}

</style>

</head>

<body>

<h2 style="text-align:center">Live Bus Location 🚍</h2>

<div id="map"></div>

<script>

// Initial location
var lat = 11.0168;
var lng = 76.9558;

// Create map
var map = L.map('map').setView([lat, lng], 15);

// Load map tiles
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 19
}).addTo(map);

// Create marker
var marker = L.marker([lat, lng]).addTo(map);

// Function to update bus location
function updateBusLocation(){

fetch("/get_location")

.then(response => response.json())

.then(data => {

var newLat = parseFloat(data.lat);
var newLng = parseFloat(data.lng);

// Move marker
marker.setLatLng([newLat,newLng]);

// Smooth map follow
map.panTo([newLat,newLng],{
animate:true,
duration:1
});

})

.catch(error => console.log("Location error"));

}

// Update every 1 second
setInterval(updateBusLocation,1000);

</script>

</body>
</html>
